@import "../../../styles/global.module.less";

.root {
    width: auto;
    background-color: @white;
    margin-top: @margin-big;
    margin-bottom: @margin-normal;
    margin-left: @margin-big;
    margin-right: @margin-big;
    border-radius: @border-radius-normal;
    box-shadow: @shadown;
    padding: @padding-normal;
    padding-top: @padding-big;
    padding-bottom: @padding-normal;
}

.content {
    width: 100%;
    margin-bottom: @margin-big;
    padding-left: @padding-normal;
    padding-right: @padding-normal;
}

.img {
    width: 100%;
    height: 48vw;
    border-radius: @border-radius-normal;
}