@import "../../styles/global.module.less";

.pages-cart {
  display: flex;
  flex-direction: column;
}

.pages-cart-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 6vh;
  border-bottom-left-radius: @border-radius-normal;
  border-bottom-right-radius: @border-radius-normal;
  background-color: #BFBFBF;
}

.pages-cart-top-title {
  margin-left: @margin-normal;
}

.pages-cart-top-edit {
  position: absolute;
  right: @margin-min;
}