@main-color: #F42121;
@white: #FFFFFF;
@secondary-color: #7728F5;
@adorn-color: #3399FF;
@black: #333333;
@gary: #666666;
@ashen: #999999;

@border-radius-big: 64px;
@border-radius-normal: 16px;
@border-radius-min: 8px;

@margin-big: 28px;
@margin-normal: 16px;
@margin-min: 8px;

@padding-big: 32px;
@padding-normal: 16px;
@padding-min: 8px;

@text-highlight-color: @main-color;
@text-width-bold: bolder;
@text-width-normal: normal;

@shadown: 5px 5px 17px #cccccc,
    -5px -5px 17px #f4f4f4;

.p-title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: @black;
    font-weight: @text-width-bold;
}

.p-price {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: @text-highlight-color;
    font-weight: @text-width-bold;
}

.p-normal {
    font-size: 1rem;
    color: @gary;
    font-weight: @text-width-normal;
}

.p-secondary {
    font-size: 0.8rem;
    color: @ashen;
    font-weight: @text-width-normal;
}

:export {
    main-color: @main-color;
    white: @white;
    secondary-color: @secondary-color;
    adorn-color: @adorn-color;
    black: @black;
    gary: @gary;
    ashen: @ashen;

    text-width-bold: @text-width-bold;
    text-width-normal: @text-width-normal;
}