@import "../../styles/global.module.less";

.banner {
    width: 100vw;
    height: 161.8vw;
    border-bottom-left-radius: @border-radius-big;
    border-bottom-right-radius: @border-radius-big;
    box-shadow: @shadown
}

.tab-bar {
    width: auto;
    height: 5.8vh;
    background-color: @white;
    margin-top: @margin-min;
    margin-bottom: @margin-min;
    margin-left: @margin-big;
    margin-right: @margin-big;
    border-radius: 100px;
    box-shadow: @shadown;
    padding: @padding-normal;
    overflow: hidden;
}

.main-classif {
    color: @white;
    height: 100%;
    line-height: 5.6vh;
    text-align: center;
    background-color: @main-color;
    border-radius: 100px;
    margin-right: @margin-min;
    font-weight: @text-width-bold;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 86vw;
    padding: @padding-big;
    background-color: @white;
    border-radius: @border-radius-normal;
}

.kind-button {
    color: @white;
    background-color: @main-color;
    line-height: 5.6vh;
    text-align: center;
    background-color: @main-color;
    font-weight: @text-width-bold;
}

.goods-list {
    width: 100vw;
    padding-top: @padding-normal;
    padding-bottom: @padding-normal;
}

.goods-card {
    margin-bottom: @margin-normal;
    margin-top: @margin-normal;
}